@model IV.Modelos.Categoria

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var titulo = "Crear categoria";
}

<form method="post">
	<div class="row p-3 border-0">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	</div>
	@if (Model.Id != 0)
	{
		titulo = "Actualizar categoria";//Actualizar
	}
	<div class="col-md-12 border-bottom">
		<h2 class="text-primary">@titulo</h2>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label asp-for="Nombre" class="form-label mt-4"></label>
			<input asp-for="Nombre" class="form-control" />
			<span asp-validation-for="Nombre" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label class="form-label mt-4">Estado</label>
			<select asp-for="Estado" class="form-select">
				<option value=true>Activo</option>
				<option value=false>Inactivo</option>
			</select>
		</div>
	</div>
	<div class="col-md-12 mt-4">
		@if (Model.Id != 0)
		{
			<partial name="_BotonesActualizarYRegresar" model="Model.Id" />
		}
		else
		{
			<partial name="_BotonesCrearYRegresar" />
		}
	</div>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}