
<div class="row offset-6">
	<div class="col-md-6">
		<button type="submit" class="btn btn-primary form-control">Crear</button>
	</div>
	<div class="col-md-6">
		<a asp-action="Index" class="btn btn-success form-control">Regresar</a>
	</div>
</div>